/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <zmk-helpers/key-labels/42.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>


// Shorthand defines for complex key combinations
#define SAFE_BT_CLEAR &destructive_hold &bt_clr_macro 0
#define SAFE_RESET &destructive_hold &sys_reset_macro 0
#define SAFE_BOOTLOADER &destructive_hold &bootloader_macro 0


&sk {
    release-after-ms = <1000>;
    quick-release;
    lazy;
    ignore-modifiers;
};

&mmv {
    acceleration-exponent = <1>;          // 1
    time-to-max-speed-ms = <500>;         // 300
    delay-ms = <0>;                       // 0
};

&lt {
    tapping-term-ms = <170>; // default 200
    flavor = "hold-preferred"; // balanced or hold-preferred or tap-preferred
    quick-tap-ms = <150>;
};


/ {
        macros {
            bt_clr_macro: bt_clr_macro {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &bt BT_CLR>;
            };

            sys_reset_macro: sys_reset_macro {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &sys_reset>;
            };

            bootloader_macro: bootloader_macro {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &bootloader>;
            };
        };

        combos {
            compatible = "zmk,combos";
            // see the key positions in this example: https://github.com/thrly/thrly-corne-zmk/blob/master/config/corne.dtsi
            caps_word {
                bindings = <&caps_word>;
                key-positions = <17 18>;
                layers = <0>;
            };

            esc {
                bindings = <&kp ESCAPE>;
                key-positions = <1 2>;
                layers = <0>;
            };
        };

        behaviors {
            bhm: balanced_homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;    // <---[[moderate duration]]
                quick-tap-ms = <0>;
                flavor = "balanced";
                bindings = <&kp>, <&kp>;
            };

            thm: tap_preferred_homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <300>;    // <---[[moderate duration]]
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };

            destructive_hold: destructive_hold {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <2000>;
                flavor = "balanced";
                bindings = <&macro_tap>, <&none>;
            };

            // Test the following later
            safe_reset: safe_reset {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&none>, <&sys_reset>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
                keep-mods = <0>;
            };

            safe_bootloader: safe_bootloader {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&none>, <&bootloader>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
                keep-mods = <0>;
            };

            safe_bt_clear: safe_bt_clear {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&none>, <&bt BT_CLR>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
                keep-mods = <0>;
            };
            // or
            /*
            safe_bt_clear: safe_bt_clear {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <0>;
                tapping-term-ms = <2000>;
                flavor = "balanced";
                bindings = <&bt BT_CLR>, <&none>;
            };
            
            safe_reset: safe_reset {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <0>;
                tapping-term-ms = <2000>;
                flavor = "balanced";
                bindings = <&sys_reset>, <&none>;
            };
            
            safe_bootloader: safe_bootloader {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <0>;
                tapping-term-ms = <2000>;
                flavor = "balanced";
                bindings = <&bootloader>, <&none>;
            };
            */
            // end test
            


        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | ENT |   | SPC | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q         &kp W            &kp E              &kp R         &kp T    &kp Y  &kp U         &kp I               &kp O            &kp P                &kp BSPC
   &kp LCTRL &thm LMETA A  &thm LEFT_ALT S  &thm LEFT_SHIFT D  &thm LCTRL F  &kp G    &kp H  &thm RCTRL J  &thm RIGHT_SHIFT K  &thm LEFT_ALT L  &thm LMETA SEMICOLON &kp SQT
   &sk LSHFT &kp Z         &kp X            &kp C              &kp V         &kp B    &kp N  &kp M         &kp COMMA           &kp DOT          &kp FSLH             &kp ESC
                  &kp LGUI &mo 1 &kp RET     &kp SPACE &lt 2 SPACE &tog 3
                        >;
                };
                lower_layer {
                        display-name = "Lower Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4   |  5  |   |  6  |  7   |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4  | BT5 |   | LFT | DWN  |  UP | RGT |     |      |
// | SHFT |     |     | rst | botl |     |   |     | botl |     |     |     |      |
//                    | GUI |      | ENT |   | SPC |      | ALT |
                        bindings = <
   &kp TAB        &kp N1        &kp N2       &kp N3           &kp N4            &kp N5             &kp N6   &kp N7            &kp N8 &kp N9    &kp N0 &kp BSPC
   &safe_bt_clear &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2     &bt BT_SEL 3      &bt BT_SEL 4       &kp LEFT &kp DOWN          &kp UP &kp RIGHT &trans &trans
   &kp LSHFT      &trans       &trans        &safe_reset      &safe_bootloader  &trans             &trans   &safe_bootloader  &trans &trans    &trans &trans
                                    &kp LGUI     &trans       &kp RET                    &kp SPACE  &trans   &kp RALT
                        >;
                };

                raise_layer {
                        display-name = "Raise Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | ENT |   | SPC |     | rst |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp RET     &kp SPACE &trans    &safe_reset
                        >;
                };

                gallium_layer {
                        display-name = "Gallium Layer";
                        bindings = <
   &kp TAB    &kp B    &kp L    &kp D      &kp C      &kp V      &kp J    &kp Y    &kp O        &kp U          &kp COMMA      &kp BSPC
   &kp LCTRL  &kp N    &kp R    &kp T      &kp S      &kp G      &kp P    &kp H    &kp A        &kp E          &kp I          &kp SQT
   &sk LSHFT  &kp X    &kp Q    &kp M      &kp W      &kp Z      &kp K    &kp F    &kp SQT      &kp SEMICOLON  &kp DOT        &kp ESC
                           &kp LGUI  &mo 1  &kp RET    &kp SPACE  &lt 2 SPACE  &tog 3
                        >;
                };

        };
};
